<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>Añadir contacto</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form #form="ngForm" (ngSubmit)="addContact()">
                    <div class="row form-group">
                        <div class="col-md-6 col-12 form-group">
                            <label for="name">Nombre (*)</label>
                            <input [(ngModel)]="contact.name" #name="ngModel" type="text" class="form-control" name="name" id="id" minlength="3" placeholder="Escribe un nombre" required>
                        </div>
                        <div class="col-md-6 col-12 form-group">
                            <label for="surname">Apellido (*)</label>
                            <input [(ngModel)]="contact.surname" #surname="ngModel" type="text" class="form-control" name="surname" id="id" minlength="3" placeholder="Escribe apellidos" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-12 form-group">
                            <label for="description">Descripcion</label>
                            <textarea [(ngModel)]="contact.description" #description="ngModel" class="form-control" name="description" id="description" maxlength="20" placeholder="Ingrese una descripcion" cols="5" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-12 form-group">
                            <label for="sex">Sexo</label>
                            <select [(ngModel)]="contact.sex" #sex="ngModel" class="custom-select" name="sex" id="sex">
                            <option value="hombre">Hombre</option>
                            <option value="mujer">Mujer</option>
                        </select>
                        </div>
                        <div class="col-md-6 col-12 form-group">
                            <label for="company">Empresa</label>
                            <input [(ngModel)]="contact.company" #company="ngModel" type="text" class="form-control" name="company" id="company" minlength="20" placeholder="Escriba nombre de la empresa">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6 col-12 form-group">
                            <label for="email"> Email (*)</label>
                            <input [(ngModel)]="contact.email" #email="ngModel" type="text" class="form-control" name="email" id="email" placeholder="Ingrese un email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        </div>
                        <div class="col-md-6 col-12 form-group">
                            <label for="tel">telefono</label>
                            <input [(ngModel)]="contact.phone" #phone="ngModel" type="text" class="form-control" name="tel" id="tel" minlength="20" placeholder="Ingrese telefono" pattern="[0-9]{9}" required>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Añadir contacto</button>
                        </div>
                    </div>





                </form>
            </div>
        </div>
    </div>
</div>